.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 49px;
	padding: 20px;
	height: 100%;
}

.logo {
	width: 40px;
	height: 40px;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.subContainer {
	width: 463px;
	padding: 2px;
	border-radius: 8px;
	background-image: linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
}
