.container {
	position: relative;
}

.togglePassword {
	position: absolute;
	display: flex;
	align-items: center;
	top: 50%;
	right: 10.92px;
	transform: translateY(-50%);
	color: #7F8084;
	cursor: pointer;
}

.slash {
	position: absolute;
	top: -3.2px;
	right: 50%;
	width: 1.5px;
	height: calc(100% + 5.5px);
	background: #7F8084;
	transform: rotate(26deg) translateX(50%);
}
